<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- reutilizar componentes html th:replace="directorio/nomFichero :: nombreIdentificadorFragment"  -->
	<section th:replace="components/elapsedTime :: interceptor"></section>
	<h3 th:text="${title}"></h3>
	<!-- Este formulario y cada uno de sus campos estan mapeados al objeto User 
	th:field="*" agrega de forma automaticalos atribyutos value y name-->
	<div class="container">
		<form th:action="@{/form}" method="post" th:object="${user}">
			<div class="form-group row">
				<label for="enable" class="col-form-label col-sm-2">Enable</label>
				<div class="row col-sm-4">
					<input type="checkbox" id="enable" th:field="*{enable}"
						class="form-control col-sm-1">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2">Gender</label>
				<div th:each="gen : ${genders}" class="row col-sm-2">
					<input type="radio" th:field="*{gender}" th:value="${gen}"
						class="form-control col-sm-2"> <label
						th:for="${#ids.prev('gender')}" th:text="${gen}"
						class="col-form-label col-sm-2"></label>
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="country">Country</label>
				<div class="col-sm-4">
					<select id="country" th:field="*{country}" class="form-control">
						<option value="">--Select Country--</option>
						<option th:each="country: ${countriesList}"
							th:text="${country.name}" th:value="${country.id}"></option>
					</select>
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
			</div>
			<!-- Implementando CheckBoxes de Map -->
			<div class="form-group row">
				<label class="col-form-label col-sm-2">Roles</label>

				<div th:each="role : ${rolesList}" class="row col-sm-3">
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						th:checked="${#lists.contains(user.roles , role)}"
						class="form-control col-sm-2">
					<!-- th:for="${#ids.prev('roles')}" thyleaf function that make use of Helper objects, serves to mark the checkbox if the label is selected  -->
					<label th:for="${#ids.prev('roles')}" th:text="${role.roleName}"
						class="col-form-label col-sm-2">Roles</label>

				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="identifier">Identifier</label>
				<!--Validacion personalizada del identificador usando patterns  -->
				<div class="col-sm-4">
					<input type="text" id="identifier" th:field="*{identifier}"
						class="form-control">
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('identifier')}"
					th:errors="*{identifier}"></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="username">Username</label>
				<div class="col-sm-4">
					<input type="text" id="username" th:field="*{username}"
						class="form-control">
				</div>
				<!-- # para utilizar un objeto helper o de utilidad de Thymeleaf de esta forma recortamos mucho código  -->
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="password">Password</label>
				<div class="col-sm-4">
					<input type="password" id="password" th:field="*{password}"
						class="form-control">
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="email">Email</label>
				<div class="col-sm-4">
					<input type="text" id="email" th:field="*{email}"
						class="form-control">
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="account">Account</label>
				<div class="col-sm-4">
					<input type="text" id="account" th:field="*{account}"
						class="form-control">
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="birthdate">birthdate</label>
				<!-- El imput DAte de HTML envia la fecha con '-' -->
				<div class="col-sm-4">
					<input type="date" id="birthdate" th:field="*{birthdate}"
						placeholder="yyyy-MM-dd" class="form-control">
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-4">
					<input type="submit" value="Submit" class="btn btn-primary">
				</div>
			</div>
			<!-- input del tipo hidden, el valor se esconde o no se muestra en el formulario,
		 nos sirve en el caso de que no queramos que de modifique y tampoco no queremos mostrar este valor   
		 y este valor después se traspasa al controlador y se guarda tal y como estaba antes, nos es muy util
		  con thymeleaf y spring security actua igual que un Session Attribute pasar datos al formulario pero 
		   que no se muestren puesto que esta de forma escondida -->
			<input type="hidden" th:field="*{secretValue}">
		</form>
	</div>

</body>
</html>