<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h3 th:text="${title}"></h3>
	<!-- Este formulario y cada uno de sus campos estan mapeados al objeto User 
	th:field="*" agrega de forma automaticalos atribyutos value y name-->
	<form th:action="@{/form}" method="post" th:object="${user}">
		<div>
			<label for="country">Country</label>
		</div>
		<div>
			<select id="country" th:field="*{country}">
				<option value="">--Select Country--</option>
				<option th:each="country: ${countriesList}"
					th:text="${country.name}" th:value="${country.id}"></option>
			</select>
		</div>
		<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
		<!-- Implementando CheckBoxes de una lista -->
		<div>
			<label for="roles">Roles</label>
		</div>
		<div th:each="role : ${rolesStringList}">
			<input type="checkbox" th:field="*{roles}" th:value="${role}">
			<label th:for="${#ids.prev('roles')}" th:text="${role}">Roles</label>

		</div>
		<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
		<div>
			<label for="identifier">Identifier</label>
		</div>
		<!--Validacion personalizada del identificador usando patterns  -->
		<div>
			<input type="text" id="identifier" th:field="*{identifier}">
		</div>
		<div th:if="${#fields.hasErrors('identifier')}"
			th:errors="*{identifier}"></div>
		<div>
			<label for="username">Username</label>
		</div>
		<div>
			<input type="text" id="username" th:field="*{username}">
		</div>
		<!-- # para utilizar un objeto helper o de utilidad de Thymeleaf de esta forma recortamos mucho código  -->
		<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		<div>
			<label for="password">Password</label>
		</div>
		<div>
			<input type="password" id="password" th:field="*{password}">
		</div>
		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		<div>
			<label for="email">Email</label>
		</div>
		<div>
			<input type="text" id="email" th:field="*{email}">
		</div>
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		<div>
			<label for="account">Account</label>
		</div>
		<div>
			<input type="text" id="account" th:field="*{account}">
		</div>
		<div th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div>
		<div>
			<label for="birthdate">birthdate</label>
		</div>
		<!-- El imput DAte de HTML envia la fecha con '-' -->
		<div>
			<input type="date" id="birthdate" th:field="*{birthdate}"
				placeholder="yyyy-MM-dd">
		</div>
		<div th:if="${#fields.hasErrors('birthdate')}"
			th:errors="*{birthdate}"></div>
		<div>
			<input type="submit" value="Submit">
		</div>
	</form>

</body>
</html>