<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="alert alert-success">
		<span th:text="'Elapsed time: ' +${elapsedTime} + 'ms'"></span>
	</div>
	<div class="container">
		<a th:href="@{/form}" class="btn btn-success my-3">Volver</a>
		<ul class="list-group my-2">
			<li class="list-group-item active" th:text="${title}"></li>
			<li class="list-group-item" th:text="${user.username}"></li>
			<li class="list-group-item" th:text="${user.password}"></li>
			<li class="list-group-item" th:text="${user.email}"></li>
			<li class="list-group-item" th:text="${user.identifier}"></li>
			<li class="list-group-item" th:text="${user.account}"></li>
			<li class="list-group-item"
				th:text="${user.country.id + ' ' + user.country.name + ' ' + user.country.code}"></li>
			<!--Con thymeleaf podemos cambiar el formato por defecto seguin nuesta localizacion utilizando los objetos
		 Helper de thymeleaf  #dates.format(user.birthdate, 'dd/MM/yyyy') 
		-->
			<li class="list-group-item"
				th:text="${#dates.format(user.birthdate, 'dd/MM/yyyy')}"></li>
			<li class="list-group-item" th:text="'Enable: '+${user.enable}"></li>
			<li class="list-group-item" th:text="'Gender: '+${user.gender}"></li>
			<li class="list-group-item"
				th:text="'Secret value: '+${user.secretValue}"></li>
		</ul>

		<ul class="list-group my-3">
			<li class="list-group-item active">Roles</li>
			<li class="list-group-item" th:each="role : ${user.roles}"
				th:text="${role.id}+': ' + ${role.roleName}+'=> ' + ${role.role}"></li>
		</ul>
	</div>
</body>
</html>